$breakpoint: 1024px;

$radius: 4px;

$fontNormal: 400;
$fontSemiBold: 500;
$fontBold: 700;

$colorDark: #333333;
$colorLight: #ffffff;
$colorDefault: #f8f9fa;
$colorDefaultDark: #cccccc;
$colorSuccess: #155724;
$colorSuccessLight: #d4edda;
$colorPrimary: #286090;
$colorDanger: #d9534f;
