@import "../../node_modules/normalize.css/normalize";

@import "variables";
@import "button";
@import "recipeList";
@import "recipe";
@import "recipeForm";
@import "ingredients";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: $fontNormal;
  line-height: 15px;
}

.hidden {
  display: none;
}